.header {
  background: #006755;
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em 3em;
  font-size: 1.5em;
}

.nav__link {
  margin-left: 20px;
  font-size: .75em;
  text-transform: uppercase;
  flex-grow: 2;
}

@media all and (max-width: 600px) {
  .nav {
    padding-top: 1vh;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: center;
  }
  .nav__link {
    padding: 2vh;
    font-size: 1em;
  }
}


